@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

.app-wrapper{
    padding: 40px 80px;
}
.app-content{
    display: flex;
    gap: 30px;
}
.desserts-container{
    flex: 1 1 0;
}
h1{
    color:  hsl(14, 65%, 9%);
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;     
}
h3{
    color:  hsl(14, 86%, 42%);
    font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  padding: 20px 0;
}
.empty-img{
    padding: 10px 30px;
}
.cart{
    padding: 20px;
}
.empty-p{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    color:hsl(12, 20%, 44%);
}
.all-desserts{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.img-dessert{
    max-width: 300px;
    border-radius: 10px;
}
.img-dessert-div{
    position: relative;
}
.add-cart-btn{
    border: none;
    background-color: aliceblue;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 15px;
}
.button-add-div{
    display: flex;
    border: 1px solid hsl(12, 20%, 44%);
    max-width: 130px;
    padding: 13px 32px;
    background-color: aliceblue;
    justify-content: center;
    border-radius: 40px;
    
}